
<div class="content_post" style="background-image: url(<%= tweet.image %>);">
  <div class="tweet__image">
    <%= image_tag tweet.image %>
  </div>
    <div class="more">   
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to 'Detail', tweet_path(tweet.id)%>
        </li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
        <li>
          <%= link_to 'Edit', edit_tweet_path(tweet.id)%>
        </li>
        <li>
          <%= link_to 'Delete', tweet_path(tweet.id), data: { turbo_method: :delete } %>
        </li>
        <% end %>
      </ul>
    </div>
      <p><%= tweet.text %></p>
    <div id="like-btn<%= tweet.id %>">
      <% if user_signed_in? && tweet.liked_by?(current_user)%>
        <%=link_to "Liked", tweet_likes_path(tweet.id),  data: { turbo_method: :delete }, class: "tweet_likes" %>
      <% else %>
        <%=link_to "Like", tweet_likes_path(tweet.id), data: { turbo_method: :post }, class: "tweet_likes" %>
      <% end %>
    </div>
      <span class="name">
      </span>
</div>
